<p>landing works!</p>
<p>isLoading: {{ store.isLoading() }}</p>

<br />
<br />

@if (storedGroupService.storedRequestGroupId) {
  <a
    [routerLink]="'/dashboard/' + storedGroupService.storedRequestGroupId"
    role="button"
    class="btn btn-secondary">
    Go to {{ storedGroupService.storedRequestGroupId }}
  </a>
} @else {
  <button
    type="button"
    class="btn btn-primary"
    (click)="onCreate()"
    [disabled]="store.isLoading()">
    Create
    @if (store.isLoading()) {
      <span class="loading loading-spinner loading-sm"></span>
    }
  </button>
}
